Q1. What is Min-Max scaling, and how is it used in data preprocessing? Provide an example to illustrate its
application.

In [1]:
## Min_Max Scaling:it is the simplest method and consists of rescaling the range of features to scale the range in [0, 1]

In [2]:
# Formula ,x'=(x-min(x))/(max(x)-min(x))

In [3]:
## It is used for numerical variables and to avoid impact of any feature haivng high value in model builing to have equal weightage

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame({"Roll_no":[8,15,13,25,4],"Student":["Wasim","Abhishek","Dinesh","Sainath","Venkat"],"Marks":[56,87,65,32,70]})

In [6]:
df

   Roll_no   Student  Marks
0        8     Wasim     56
1       15  Abhishek     87
2       13    Dinesh     65
3       25   Sainath     32
4        4    Venkat     70

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
mn=MinMaxScaler()

In [9]:
df_num=df[['Roll_no','Marks']]

In [10]:
df_num

   Roll_no  Marks
0        8     56
1       15     87
2       13     65
3       25     32
4        4     70

In [11]:
df_scale=mn.fit_transform(df_num)

In [12]:
df_scale

array([[0.19047619, 0.43636364],
       [0.52380952, 1.        ],
       [0.42857143, 0.6       ],
       [1.        , 0.        ],
       [0.        , 0.69090909]])

In [13]:
df_scale_df=pd.DataFrame(df_scale,columns=df_num.columns)

In [14]:
df_scale_df

    Roll_no     Marks
0  0.190476  0.436364
1  0.523810  1.000000
2  0.428571  0.600000
3  1.000000  0.000000
4  0.000000  0.690909

In [15]:
## from above Marks ad roll no oare scale down in range(0-1)

Q2. What is the Unit Vector technique in feature scaling, and how does it differ from Min-Max scaling?
Provide an example to illustrate its application.

In [16]:
## Unit Vector:Scaling is done considering the whole feature vector to be of unit length. This usually means dividing each component by the Euclidean length of the vector (L2 Norm).

In [17]:
## Like Min-Max Scaling, the Unit Vector technique produces values of range [0,1]. When dealing with features with hard boundaries, this is quite useful. 
## For example, when dealing with image data, the colors can range from only 0 to 255.

Q3. What is PCA (Principle Component Analysis), and how is it used in dimensionality reduction? Provide an
example to illustrate its application.

In [18]:
## PCA is a dimensionality reduction technique , where new dimension is created and maximum of  information  are captured in new dimension.

In [19]:
## The principal components are vectors, but they are not chosen at random.
## The first principal component is computed so that it explains the greatest amount of variance in the original features.
## The second component is orthogonal to the first i.e there is zero correlation between a pair of features,
##vand it explains the greatest amount of variance left after the first principal component.

In [20]:
## For example, let’s say there is a dataset with 10 features and we apply PCA to it. So we get 10 PCs, but the PCA algorithm puts maximum information into the 1st PC 
## and then remains to the 2nd PC and so on. We sort the PCs in the descending order of their EigenVectors .
## In this way, we organize information into the form of Principal Components thus allowing us to reduce the number of features without losing too much data.
## So we discard the features that have less variance and consider the new variables which have high variance.

Q4. What is the relationship between PCA and Feature Extraction, and how can PCA be used for Feature
Extraction? Provide an example to illustrate this concept.

In [21]:
## Feature extraction is a process of dimensionality reduction 
## by which an initial set of raw data is reduced to more manageable groups for processing.
## I is helpful in extracting important features from the data

In [22]:
## PCA is one of the technique under Feature Exraction. AS Explained in above example how PCA is used for feature Extraction

Q5. You are working on a project to build a recommendation system for a food delivery service. The dataset
contains features such as price, rating, and delivery time. Explain how you would use Min-Max scaling to
preprocess the data.

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
mn=MinMaxScaler()

In [25]:
df_recommend=pd.DataFrame({"Price":[3000,450,15000,900],"Rating":[4,3,5,2],"Delivery_Time":[2,3,1,5]})

In [26]:
df_recommend

   Price  Rating  Delivery_Time
0   3000       4              2
1    450       3              3
2  15000       5              1
3    900       2              5

In [27]:
df_recommend_scale=mn.fit_transform(df_recommend)

In [28]:
df_recommend_scale

array([[0.17525773, 0.66666667, 0.25      ],
       [0.        , 0.33333333, 0.5       ],
       [1.        , 1.        , 0.        ],
       [0.03092784, 0.        , 1.        ]])

In [29]:
recommend_df=pd.DataFrame(df_recommend_scale,columns=df_recommend.columns)

In [30]:
recommend_df

      Price    Rating  Delivery_Time
0  0.175258  0.666667           0.25
1  0.000000  0.333333           0.50
2  1.000000  1.000000           0.00
3  0.030928  0.000000           1.00

Q6. You are working on a project to build a model to predict stock prices. The dataset contains many
features, such as company financial data and market trends. Explain how you would use PCA to reduce the
dimensionality of the dataset.

In [31]:
## First import PCA

In [32]:
from sklearn.decomposition import PCA

In [33]:
## we will initialise pur PCA with no of coponenst lets say 2

In [34]:
pca=PCA(2)

In [35]:
## Then we will fit out data(X) using : pca.fit(X)

In [36]:
## print(pca.explained_variance_ratio_) will give pc1 and pc2 components and give how much variance is captured by them

In [37]:
## if  maximum of variacne is captured by tthe first and 2nd compnenent then we can use this to build model

Q7. For a dataset containing the following values: [1, 5, 10, 15, 20], perform Min-Max scaling to transform the
values to a range of -1 to 1.

In [38]:
x=[1, 5, 10, 15, 20]

In [39]:
df_new=pd.DataFrame(x)

In [40]:
df_new

    0
0   1
1   5
2  10
3  15
4  20

In [41]:
from sklearn.preprocessing import MinMaxScaler

In [42]:
mn=MinMaxScaler()

In [43]:
x_scale=mn.fit_transform(df_new)

In [44]:
x_scale

array([[0.        ],
       [0.21052632],
       [0.47368421],
       [0.73684211],
       [1.        ]])

In [45]:
df_X=pd.DataFrame(x_scale)

In [46]:
df_X

          0
0  0.000000
1  0.210526
2  0.473684
3  0.736842
4  1.000000

Q8. For a dataset containing the following features: [height, weight, age, gender, blood pressure], perform
Feature Extraction using PCA. How many principal components would you choose to retain, and why?

In [47]:
## There are 5 varialbes  out of which 4 are numercial and 1 variable gender is categorcical. we can convert gender ino binary encoding(0 and 1).

In [48]:
## since now 5  feautres I will initialise PCA with 4 components first.

In [49]:
## We will fit out data using this PCA

In [50]:
## Will check the explained_Variance_Ratio of PC components

In [51]:
## we will see how much is he variance captured by each component if only first contains more than 90% and other are less than 1 % we can choose only first component