Q1: What are missing values in a dataset? Why is it essential to handle missing values? Name some
algorithms that are not affected by missing values.

In [1]:
## Missing values are missing data  for some variable/features in the dataset.These are represented by  NAN values.

In [2]:
### Random Forest,XGboost,Decision Tree, K-Nearest Neighbour algorithms are not afected by missing values

Q2: List down techniques used to handle missing data. Give an example of each with python code.

In [3]:
## There are Basically 3 Types to handle missing values

In [4]:
### Mean
### Median
### Mode

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame({"A":[12,None,45,35,25,None],"B":[45,80,60,50,None,75],"C":['Fail','Pass','Fail','Pass',None,'Pass']})

In [7]:
df

      A     B     C
0  12.0  45.0  Fail
1   NaN  80.0  Pass
2  45.0  60.0  Fail
3  35.0  50.0  Pass
4  25.0   NaN  None
5   NaN  75.0  Pass

In [8]:
df.isnull().sum()

A    2
B    1
C    1
dtype: int64

In [9]:
df['A'].fillna(df['A'].mean()) ## Column A Nan Value is fiiled with mean 29.25

0    12.00
1    29.25
2    45.00
3    35.00
4    25.00
5    29.25
Name: A, dtype: float64

In [10]:
df['B'].fillna(df['B'].median()) ### Column B Nan value is filled with Median 60

0    45.0
1    80.0
2    60.0
3    50.0
4    60.0
5    75.0
Name: B, dtype: float64

In [11]:
df['C'].fillna(df['C'].mode()[0]) ## Here in place of Nan/None value mode 'Pass' is filled

0    Fail
1    Pass
2    Fail
3    Pass
4    Pass
5    Pass
Name: C, dtype: object

Q3: Explain the imbalanced data. What will happen if imbalanced data is not handled?

In [12]:
### Imbalanced dataset is the dataset where dependent feature has imbalances in their values.

In [13]:
## For example if we have 100 rows with binary classification as 0 and 1 , Out of these 100 records , 90 records has labelled as 0 and 10 records has 1 value,
## then we have imbalanced in the data

In [14]:
## Most imformation may get lost if not handled properly
## If it is not handled then it may mislead the information. WE will not be accurately predictng the outputs as major class data records has higher impact

Q4: What are Up-sampling and Down-sampling? Explain with an example when up-sampling and down-
sampling are required.

In [15]:
### Up-Sampling is the technique by which we increase the records of minority class equal to majority class labels by random sampling copy /Synthetic data creation
### From above example  minority 10 Instances of class 1 we create 90 instances of class 1 so total of 180 instances  will be avaialble for training purpose

In [16]:
### Downsampling is the technique by which we decrease the records of majority class equal to minority class by random sampling 
## from above example. 90 instances of class 0  reduced down to 10 records so total of 20 instances to train model

Q5: What is data Augmentation? Explain SMOTE.

In [17]:
##  Data augmentation is a set of techniques to artificially increase the amount of data by generating new data points from existing data.

In [18]:
## Smote is synthetic minority over-sampling Technique used in machine learning to address imbalanced datasets
## where the minority class has significantly fewer instances than the majority class.
## SMOTE involves generating synthetic instances of the minority class by interpolating between existing instances.

Q6: What are outliers in a dataset? Why is it essential to handle outliers?

In [19]:
## An outlier is an observation that lies an abnormal distance from other values in a random sample from a population.

In [20]:
## They vary significantly from other data observations and not normally distributed

In [21]:
## The outliers are abnormal o it will misinterpret the result , and it can deviate from actual performance which are misleading

Q7: You are working on a project that requires analyzing customer data. However, you notice that some of
the data is missing. What are some techniques you can use to handle the missing data in your analysis?

In [22]:
#### if the data is numerical and it is normally distributed we can use mean method to fill nan

In [23]:
### if data is numericall but some abnormality is showing we can use median to fill the Nan values

In [24]:
## If data is categorical then we can use Mode method to fill the Nan Values

Q8: You are working with a large dataset and find that a small percentage of the data is missing. What are
some strategies you can use to determine if the missing data is missing at random or if there is a pattern
to the missing data?

In [25]:
## I will use distribution plot to see how the plot is showing, if data is normally distributed we can say there is some pattern and related o each other

In [26]:
## If distribution is not normal then their will be randomness

Q9: Suppose you are working on a medical diagnosis project and find that the majority of patients in the
dataset do not have the condition of interest, while a small percentage do. What are some strategies you
can use to evaluate the performance of your machine learning model on this imbalanced dataset?

In [27]:
### I will Use SMOTE technique for data augmentation before  building  model, This will ensure that my data is balanced.
## it is used using  imblearn.over_sampling import SMOTE

Q10: When attempting to estimate customer satisfaction for a project, you discover that the dataset is
unbalanced, with the bulk of customers reporting being satisfied. What methods can you employ to
balance the dataset and down-sample the majority class?

In [28]:
### I will use random sampling from majority class to downsample equals to minority class

In [29]:
### for eg in 1000 records 900 are for majority class then i will use df.sample(100) so that both class has equal instances

Q11: You discover that the dataset is unbalanced with a low percentage of occurrences while working on a
project that requires you to estimate the occurrence of a rare event. What methods can you employ to
balance the dataset and up-sample the minority class?

In [30]:
## I will use SMOTE technique as discussed above to up sample the minority class.  AS it involves synthetic data creation using K nearest neighbours